*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#BFB9B9;
}
.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.container .card {
    width: 220px;
    display: inline-block;
    margin-left: 45px;
    background-color: #1C1F37;
    border-top-right-radius: 41px;
    border: none;
    border-bottom-left-radius: 40px;
}
.container .card h2{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
    line-height: normal;
}
.container .card span{
    color: #575B75;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
    margin-top: 3px;
    margin-left: 10px;
}
.dvi{
    margin-left: 20px;
    
}
.container .card .text{
    display: inline-block;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container .card .book-now{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    display: flex;
    margin-left: 50px;
    width: 93px;
    height: 33px;
    background-color:transparent;
    text-align: center;
  
    justify-content: flex-end;
    align-items: center;
    
    border-radius: 10px;
    border: 1px solid #FFF;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.container .card .book-now:hover{
    background-color:red;
    color:white;
    border-radius: 0;
}
.container .card .color:hover{
    background-color:yellow;
    color:red;
    border-radius: 0;
}
.container .card .color{
    border-radius: 10px;
    background: #D1F366;
}
.container .tugma{
    margin-top: 70px;
    width: 40%;
    margin-left: 40px;
    height: 35px;
    border-radius:15px;
    padding: 5px;
    border:none;
    background-color:black;
    color:white;
    text-align: center;
    transition: all 0.5s;
}
.container .tugma a{
    color:white;
    text-decoration: none;
}
.container .tugma:hover{
    width: 65%;
    cursor: pointer;
    background-color:green;
    border-radius:0px;
  
}